html::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #3366ff;
    z-index: -1;
}

.navbar{
    height: 80px;
    align-content: first baseline;
}

.icon {
    color: red; 
}

.icon-2 {
    color: green;
}

.but{
    background-color: #3333ff;
    border: rgb(255, 255, 255);
    
}

.but:hover{
    background-color: rgb(255, 255, 255)55, 255, 255);
}
